* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans;
    line-height: 1.8;
    padding: 20px;
}
#poki {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section {
    border: 1px solid #DDD;
    margin: 25px -20px;
    padding: 20px;
}
h2 {
    line-height: 1;
    margin-bottom: 25px;
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    color: lightgreen;
}
a.o-lukin {
    display: block;
    color: black;
    margin: 35px auto;
    text-align: center;
    max-width: 600px;
}
a.o-lukin img {
    max-width: 100%;
}
a.o-lukin img.poka-walo {
    background-color: white;
    padding: 0 15%;
}
.kulupu {
    vertical-align: super;
    font-size: small;
    margin-left: 7px;
    display: inline-block;
    background-color: lightskyblue;
    color: white;
    padding: 3px 8px;
}
p {
    margin: 10px 0;
}
section p.toki-ante {
    color: #555;
    font-style: italic;
}
