* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: white;
    font-family: 'sans-serif';
}

footer {
    text-align: center;
    margin: 30px 20px;
}
@font-face {
    font-family: 'league_spartanbold';
    src: url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#lipu-ale {
    display: flex;
    font-family: league_spartanbold;
}
h1 {
    font-family: league_spartanbold;
    text-align: center;
    font-size: xxx-large;
    margin: 25px;
}
h2 {
    font-family: league_spartanbold;
    text-align: center;
    font-size: xx-large;
}
.page, .cover {
    padding: 25px;
}
.page {
    display: flex;
}
.cover, .cover h1 {
    text-align: center;
    font-weight: bolder;
}
.cover img {
    display: block;
    margin: auto;
    max-height: 90vh;
    max-width: 100%;
    width: auto;
}
.page .text {
    font-size: x-large;
    line-height: 2;
    margin-right: 25px;
    flex-grow: 1;
}
.page .text p {
    margin: 15px 0;
}
.page .image img {
    max-width: 100%;
}

b {
    font-variant-caps: small-caps;
    font-weight: bold;
}

nav {
    margin: 50px;
}

#lipu-ale {
    margin: 50px 150px;
}

nav, #lipu-ale {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav img {
    max-height: 150px;
}

#lipu-ale img {
    max-height: 250px;
}

nav .story-link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

#lipu-ale .story-link {
    display: block;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: xxx-large;
}

#toki-musi-ale {
    border-top: 1px solid black;
}

@media screen and (min-width: 701px) {
    .page, .cover {
        min-height: 100vh;
    }
    .page .text {
        max-width: 60vw;
    }
    .page .image img {
        width: 500px;
        max-height: 70vh;
    }
}
@media screen and (max-width: 700px) {
    .page {
        flex-direction: column;
    }
}
